/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  font-family: inherit;
  color: inherit;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select,
a {
  color: inherit;
  font: inherit;
}

/* define fonts  */
@font-face {
  font-family: "Merriweather-bold";
  src: url("../public/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-boldItalic";
  src: url("../public/fonts/Merriweather-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-light";
  src: url("../public/fonts/Merriweather-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-lightItalic";
  src: url("../public/fonts/Merriweather-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-black";
  src: url("../public/fonts/SourceSansPro-Black.ttf") format("truetype");
}

:root {

  /* fonts  */
  --base-font-size: 16px;
  --font-sourcesan: "SourceSansPro-black";
  --font-merri-light: "Merriweather-light";
  --font-merri-light-italic: "Merriweather-lightItalic";
  --font-merri-bold: "Merriweather-bold";
  --font-merri-bold-italic: "Merriweather-boldItalic";

  /* background colors  */
  --bg-light-gray-white: #eee;
  --bg-very-light-white: #f5f5f5;

  /* text colors  */
  --text-black: #000;
  --text-blue-gray: #909498;
  --text-dark-blue-gray: #717981;

  /* background and text colors  */
  --bg-white: #fff;
  --bg-dark: #212931;
  --bg-dark-black: #1e252d;

}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-merri-light), Arial, Helvetica, sans-serif;
  background: url("../public/images/bg.jpg");
  position: relative;
  overflow-x: hidden;
  font-size: var(--base-font-size);
  line-height: 2;
  color: var(--bg-dark);
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/overlay.png");
  background-color: #2129317a;
  z-index: -1;
}

h1,
h2,
h3,
h4,
label,
button {
  font-family: var(--font-sourcesan), Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--bg-white);
  font-size: 80px;
  line-height: 1;
}

h2 {
  color: var(--bg-dark);
  font-size: 64px;
  line-height: 1.1;
  width: 50%;
  margin: auto;
}

h3 {
  color: var(--text-dark);
  font-size: 32px;
  line-height: 1.2;
}

h4 {
  color: var(--text-dark-blue-gray);
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  h2 {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }
}