/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  font-family: inherit;
  color: inherit;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select {
  color: inherit;
  font: inherit;
}

/* define fonts  */
@font-face {
  font-family: "Merriweather-bold";
  src: url("../public/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-boldItalic";
  src: url("../public/fonts/Merriweather-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-light";
  src: url("../public/fonts/Merriweather-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather-lightItalic";
  src: url("../public/fonts/Merriweather-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-black";
  src: url("../public/fonts/SourceSansPro-Black.ttf") format("truetype");
}

:root {}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "SourceSansPro-black";
}