.front_page {
  height: 80vh;
  padding-top: 30vh;
}

.front_text {
  width: 50%;
  margin: auto;
}

.man_container {
  width: 80%;
  margin: auto;
  background-color: var(--bg-light-gray-white);
}

.navbar {
  background-color: var(--bg-dark);
  color: var(--bg-white);
}

.icon,
.dark_btn {
  transition: all 0.3s linear;
}

.icon:hover {
  scale: 1.05;
}

.dark_btn:hover {
  opacity: 0.8;
}

.third_section {
  background-color: var(--bg-very-light-white);
}

@media screen and (max-width: 768px) {
  .front_text {
    width: 80%;
  }

  .man_container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .front_text {
    width: 95%;
    margin: 0;
  }

  .navbar>div {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    width: 100%;
  }

  .navbar ul:first-child {
    justify-content: space-between;
  }

  .navbar ul:last-child {
    justify-content: center;
  }
}