/* landing page  */
.light_white_background {
  background-color: var(--light-white);
}

.landing_heading_text {
  color: var(--light-brown);
  line-height: 1.5;
}

/* auth page  */
.auth_form {
  width: 50%;
  min-width: 300px;
  padding: 1.5rem;
}