/* landing page  */
.light_white_background {
  background-color: var(--light-white);
}

.landing_heading_text {
  color: var(--light-brown);
  line-height: 1.5;
}

/* auth page  */
.auth_form {
  width: 50%;
  min-width: 300px;
  padding: 1.5rem;
}

/* dashboard  */
.secondary_linear_background {
  background: linear-gradient(rgba(128, 128, 128, 0.5) 25%, rgba(128, 128, 128, 0.3) 50%, white);
}

.min_full_height {
  min-height: 100vh;
}