.modal_body {
  padding: 2rem;
  position: absolute;
  width: 40%;
  left: 30%;
  top: 5%;
  z-index: var(--modal-z-index);
}

@media screen and (max-width: 768px) {
  .modal_body {
    width: 90%;
    left: 5%;
    padding: 1rem;
  }
}