.height_full {
  min-height: 100vh;
}

.hide_md {}

.md_center {}

.article_body {
  width: 50vw;
  min-width: 500px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .hide_md {
    display: none;
  }

  .md_center>* {
    text-align: center;
    margin: auto;
  }

  .md_center>form {
    text-align: start;
  }
}