.auth_background {
  background: url("../../public/assets/login_bg.svg") center top /cover no-repeat;
  width: 100vw;
  height: 100vh;

  padding: 1rem var(--main-padding-x);
}

.auth_form_box {
  background: var(--black-shade-5);
  padding: 2rem;
  color: var(--white-shade-1);
  width: 30rem;
  margin: 1rem auto;
}

.auth_form_box label {
  color: var(--white-shade-3);
  text-transform: uppercase;
}

.auth_form_box input {
  background: var(--black-shade-2);
  border: none;
}

.auth_form_box button {
  background: var(--violet-shade-2);
  color: var(--white-color);
}

.auth_form_box button:hover {
  background: var(--violet-shade-1);
}

.auth_form_box a {
  color: var(--blue-shade-2);
}

/* login box  */
.wide {
  width: 50rem;
}

.wide>div {
  width: 50%;
}

.qr_login_box {
  display: flex;
}

@media screen and (max-width: 850px) {
  .wide>div:first-child {
    width: 100%;
  }

  .qr_login_box {
    display: none;
  }

  .wide {
    width: 30rem;
  }
}


@media screen and (max-width: 500px) {
  .auth_background header {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  .auth_form_box {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -1rem;
    left: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wide h2 {
    text-align: start !important;
  }
}