.rules_body {
  padding: 2rem;
  position: absolute;
  width: 33%;
  left: 33%;
  top: 10%;
  z-index: var(--modal-z-index);
}

@media screen and (max-width: 768px) {
  .rules_body {
    width: 90%;
    left: 5%;
    padding: 1rem;
  }
}