.input_width {
  width: 50%;
  min-width: 300px;
  margin: auto;
}

.cursor_pointer {
  cursor: pointer;
}

.profile_container {
  height: 120vh;
  overflow: hidden;
}

.metadata_container {
  overflow-x: hidden;
  overflow-y: auto;
}

.overlay {
  background-color: rgba(88, 88, 88, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--overlay-z-index);
}

.modal_body {
  padding: 2rem;
  position: absolute;
  width: 70%;
  left: 15%;
  top: 5%;
  z-index: var(--modal-z-index);
}


@media screen and (max-width: 767px) {
  .metadata_container {
    width: 100% !important;
    margin-bottom: 2rem;
  }

  .profile_container {
    height: auto;
    overflow: auto;
    flex-wrap: wrap;
  }

  .modal_body {
    width: 90%;
    left: 5%;
    padding: 1rem;
  }
}