:root {
  --white-color: #ffffff;
  --white-shade-1: #f6f6f6;

  --violet-shade-1: #5865f2;
  --violet-shade-2: #404eed;

  --black-shade-1: #202225;
  --black-shade-2: #23272a;
  --black-shade-3: #292b2f;
  --black-shade-4: #2f3136;
  --black-shade-5: #36393f;
  --black-shade-6: #4f545c;

  --red: #ed4245;
  --orange: #f26522;
  --green: #3ba55d;

  /* text  */
  --black-color: #000000;
  --blue-shade-1: #00aff4;
  --blue-shade-2: #00b0f4;

  --white-shade-2: #dcddde;
  --white-shade-3: #b9bbbe;
  --white-shade-4: #8e9297;
  --white-shade-5: #72767d;

  --violet-shade-3: #0000ee;

  /* header and footer  */
  --main-padding-x: 5vw;

  /* sections  */
  --section-padding-x: 7vw;
  --section-padding-y: 5vh;
}

/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
  font-family: inherit;
  color: inherit;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

/* Make images easier to work with */
img {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select,
a {
  color: inherit;
  font: inherit;
}

/* general styles  */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

main {
  min-height: 75vh;
}

header {
  padding: 1rem var(--main-padding-x);
}

section {
  padding: var(--section-padding-y) var(--section-padding-x);
  background-color: var(--white-color);
}

section.dark {
  background-color: var(--white-shade-1);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: var(--black-shade-1);
  padding: 5vh var(--main-padding-x);
}

footer h3 {
  color: var(--violet-shade-1);
  font-size: 2rem;
}

footer .text-head {
  color: var(--violet-shade-2);
}

footer hr {
  border: 2px solid var(--violet-shade-1);
}

footer button {
  background: var(--violet-shade-1);
}

@media screen and (max-width:768px) {
  footer .footer-head {
    text-align: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .navbar-toggler {
    display: none;
  }
}