.black_background {
  background: url("../public/black-background.jpg");
}

.cursor_pointer {
  cursor: pointer;
}

.width_200 {
  width: 200px;
}

.disabled_link {
  opacity: 0.6;
  cursor: not-allowed;
}

.select_input>div {
  border-radius: 0;
}